/target
.metadata
.settings
.classpath
.project
.idea
*.iml
*.bak
.springBeans
/config/application*.yml
/config/application*.properties
localdb/db_pw
**/*.key
**/*.crt
**/*.dec
**/*.plain
**/*.gpg
**/*.tgz
**/*.drawio
**/*.lock
**/secret-values*.yaml
