netzgrafik-editor-backend:
  NETZGRAFIKEDITOR_DB_USER: # FILL IN
  NETZGRAFIKEDITOR_DB_PASSWORD: # FILL IN
  NETZGRAFIKEDITOR_DB_URL: # FILL IN
netzgrafik-editor-frontend:
    TLS_CRT: # FILL IN `base64 -i tls.crt`, see https://kubernetes.io/docs/concepts/configuration/secret/#tls-secrets
    TLS_KEY: # FILL IN `base64 -i tls.key`, see https://kubernetes.io/docs/concepts/configuration/secret/#tls-secrets
